{% extends "base.html" %} {% block title %}Home Page{% end %} {% block content %}

<main>

    <!-- hero-area start -->
    <section class="hero-area">
        <div class="hero-slider">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/slider/01.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6">
                                <div class="hero-text mt-90">
                                    <div class="hero-slider-caption ">
                                        <span data-animation="fadeInUp" data-delay=".2s">covid -19 products</span>
                                        <h2 data-animation="fadeInUp" data-delay=".4s">Face Mask Thermometer
                                        </h2>
                                        <p data-animation="fadeInUp" data-delay=".6s">Quis autem vel eum iure reprehenin voluptate velit esse quam nihil molestiae conse</p>
                                    </div>
                                    <div class="hero-slider-btn">
                                        <a data-animation="fadeInUp" data-delay=".8s" href="contact.html" class="c-btn">Show Products <i class="far fa-plus"></i></a>
                                        <div class="b-button" data-animation="fadeInUp" data-delay="1s" style="animation-delay: 1s;">
                                            <a href="contact.html">Show Products <i class="far fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6">
                                <div class="slider-img d-none d-lg-block" data-animation="fadeInRight" data-delay=".8s">
                                    <img src="assets/img/slider/01.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero-area end -->

    <!-- banner-area-start -->
    <div class="banner-area banner-pb pt-30 pb-70 pl-55 pr-55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 tab-border mb-60" style="border-bottom: 0px;">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class=" section-title mb-25 p-100 pt-80">
                                <h1 style="text-align: center; ">Features Products</h1>
                                <p style="text-align: center; ">Sed ut perspiciatis unde omnis iste natus error</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/01.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Scanning <br> Devices</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/02.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Anesthesia <br> Workstations</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/03.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Dental <br> Equipments</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/04.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Ultra Sound</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/05.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Hospital Beds</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 offset-2 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/03.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>O.T Lights</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">
                    <div class="banner-wrapper mb-30 ">
                        <div class="banner-img pos-rel ">
                            <a href="equireNow?product="><img src=" assets/img/banner/03.jpg " alt=" "></a>
                            <div class="banner-text ">
                                <span>&nbsp;</span>
                                <h2>Equipments</h2>
                                <div class="b-button red-b-button ">
                                    <a href="contact.htmequireNow?product=">Show Products <i class=" far fa-plus "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-area-end -->

    <!-- product-area-start -->
    <div class="product-area pb-50 ">
        <div class="container ">
            <div class="tab-border mb-60 ">
                <div class="row ">
                    <div class="col-xl-7 col-lg-6 ">
                        <div class="section-title mb-25 ">
                            <h2>Features Products</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 ">
                        <div class="product-tab mb-25 ">
                            <ul class="nav justify-content-start justify-content-lg-end product-nav " id="myTab " role="tablist ">
                                <li class="nav-item ">

                                    <i class="far fa-shield-check "></i> Best Seller

                                </li>
                                <li class="nav-item ">

                                    <i class="far fa-star "></i> Top Rated

                                </li>
                                <li class="nav-item ">

                                    <i class="far fa-star "></i> Popular

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab-content ">
                <div class="tab-content " id="myTabContent ">
                    <div class="tab-pane fade show active " id="home " role="tabpanel " aria-labelledby="home-tab ">
                        <div class="row ">
                            <div class="col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/01.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/02.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>accessories</h5>
                                        <h4><a href="equireNow?product=">Medical Microscope</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/02.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/03.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="equireNow?product=">Hand Sanitizer Covid -19</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/03.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/04.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>home accessories</h5>
                                        <h4><a href="equireNow?product=">Medical Thermometer</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/04.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/05.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>accessories</h5>
                                        <h4><a href="equireNow?product=">Lab N95 Face Mask</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/05.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/06.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>hand gloves</h5>
                                        <h4><a href="equireNow?product=">Covid -19 Hand Gloves</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xl-4 cl-lg-4 col-md-6 ">
                                <div class="product-wrapper text-center mb-45 ">
                                    <div class="product-img pos-rel ">
                                        <a href="equireNow?product=">
                                            <img src=" assets/img/products/06.jpg " alt=" ">
                                            <img class="secondary-img " src="assets/img/products/01.jpg " alt=" ">
                                        </a>
                                        <div class="product-action ">

                                            <a class="c-btn " href="equireNow?product=">Show Products <i class=" far fa-plus "></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text ">
                                        <h5>medical equipment</h5>
                                        <h4><a href="equireNow?product=">New Temperature Gun</a></h4>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- product-area-end -->

    <!-- deal-area-start -->

    <!-- deal-area-end -->

    <!-- banner-area-start -->
    <!--<div class=" banner-02-area pb-70 pl-165 pr-165 ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="banner-02-wrapper text-center mb-30 " data-bg-color="#edf7fb ">
                        <div class="banner-02-text ">
                            <span>Digital Meter</span>
                            <h2>Blood Pressure Meter</h2>
                        </div>
                        <div class="banner-02-img pos-rel ">
                            <a href="# "><img src="assets/img/banner/b-01.png " alt=" "></a>
                            <span class="banner-tag ">hot</span>
                        </div>
                        <div class="banner-price ">
                            <span class="old-price ">$250.99</span>
                            <span class="new-price ">$239.99</span>
                        </div>
                        <div class="banner-button ">
                            <a class="c-btn " href="# ">Show Products <i class="far fa-plus "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="banner-02-wrapper text-center mb-30 " data-bg-color="#f8f8f8 ">
                        <div class="banner-02-text ">
                            <span>Digital Meter</span>
                            <h2>Blood Pressure Meter</h2>
                        </div>
                        <div class="banner-02-img pos-rel ">
                            <a href="# "><img src="assets/img/banner/b-02.png " alt=" "></a>
                            <span class="banner-tag ">hot</span>
                        </div>
                        <div class="banner-price ">
                            <span class="old-price ">$250.99</span>
                            <span class="new-price ">$239.99</span>
                        </div>
                        <div class="banner-button ">
                            <a class="c-btn " href="# ">Show Products <i class="far fa-plus "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="banner-02-wrapper text-center mb-30 " data-bg-color="#f3f8ff ">
                        <div class="banner-02-text ">
                            <span>Digital Meter</span>
                            <h2>Blood Pressure Meter</h2>
                        </div>
                        <div class="banner-02-img pos-rel ">
                            <a href="# "><img src="assets/img/banner/b-03.png " alt=" "></a>
                            <span class="banner-tag ">hot</span>
                        </div>
                        <div class="banner-price ">
                            <span class="old-price ">$250.99</span>
                            <span class="new-price ">$239.99</span>
                        </div>
                        <div class="banner-button ">
                            <a class="c-btn " href="# ">Show Products <i class="far fa-plus "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- banner-area-end -->

    <!-- product-area-start -->
    <!-- product-area-end -->

    <!-- testimonial-area-start -->
    <div class="testimonial-area pt-100 pb-175 " data-background="assets/img/bg/test.jpg ">
        <div class="container ">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3 ">
                    <div class="section-title text-center mb-65 ">
                        <h2>What Our Client’s Say</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error</p>
                    </div>
                </div>
            </div>
            <div class="row test-active ">
                <div class="col-xl-6 ">
                    <div class="testimonial-wrapper ">
                        <div class="inner-test d-flex justify-content-between align-items-center ">
                            <div class="test-img ">
                                <img src="assets/img/testimonial/01.png " alt=" ">
                            </div>
                            <div class="test-rating ">
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star-half-alt "></i>
                            </div>
                        </div>
                        <div class="test-text ">
                            <p>Sed perspiciatis unde omnis iste natus erolup tatem accusantium doloremque laudantium totam reperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h4>Sebastian Barry</h4>
                            <span>Business Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 ">
                    <div class="testimonial-wrapper ">
                        <div class="inner-test d-flex justify-content-between align-items-center ">
                            <div class="test-img ">
                                <img src="assets/img/testimonial/02.png " alt=" ">
                            </div>
                            <div class="test-rating ">
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star-half-alt "></i>
                            </div>
                        </div>
                        <div class="test-text ">
                            <p>Sed perspiciatis unde omnis iste natus erolup tatem accusantium doloremque laudantium totam reperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h4>Oliver Greenwood</h4>
                            <span>Business Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 ">
                    <div class="testimonial-wrapper ">
                        <div class="inner-test d-flex justify-content-between align-items-center ">
                            <div class="test-img ">
                                <img src="assets/img/testimonial/01.png " alt=" ">
                            </div>
                            <div class="test-rating ">
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star-half-alt "></i>
                            </div>
                        </div>
                        <div class="test-text ">
                            <p>Sed perspiciatis unde omnis iste natus erolup tatem accusantium doloremque laudantium totam reperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h4>Sebastian Barry</h4>
                            <span>Business Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 ">
                    <div class="testimonial-wrapper ">
                        <div class="inner-test d-flex justify-content-between align-items-center ">
                            <div class="test-img ">
                                <img src="assets/img/testimonial/02.png " alt=" ">
                            </div>
                            <div class="test-rating ">
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star-half-alt "></i>
                            </div>
                        </div>
                        <div class="test-text ">
                            <p>Sed perspiciatis unde omnis iste natus erolup tatem accusantium doloremque laudantium totam reperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h4>Oliver Greenwood</h4>
                            <span>Business Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area-end -->

    <!-- blog-area-start -->

    <!-- blog-area-end -->

    <!-- brand-area-start -->

    <!-- brand-area-end -->

    <!-- features-area-start -->
    <div class="features-area pt-60 pb-30 grey-2-bg ">
        <div class="container ">
            <div class="row ">
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="features-wrapper mb-30 ">
                        <div class="features-icon fe-1 f-left ">
                            <i class="fal fa-ship "></i>
                        </div>
                        <div class="features-text ">
                            <h3>Free Shipping</h3>
                            <p>Sed perspicia unde omnis iste nat error voluptate accus</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="features-wrapper mb-30 ">
                        <div class="features-icon fe-2 f-left ">
                            <i class="fal fa-usd-circle "></i>
                        </div>
                        <div class="features-text ">
                            <h3>Money Back</h3>
                            <p>Sed perspicia unde omnis iste nat error voluptate accus</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="features-wrapper mb-30 ">
                        <div class="features-icon fe-3 f-left ">
                            <i class="fal fa-unlock-alt "></i>
                        </div>
                        <div class="features-text ">
                            <h3>100% Secure</h3>
                            <p>Sed perspicia unde omnis iste nat error voluptate accus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features-area-end -->

    <!-- instagram-area-start -->

    <!-- instagram-area-end -->

</main>

{% end %} {% block baseBlock %}
<script>
    //$(".active ").removeClass("active ");
    $("#pageHome ").addClass("active ");
</script>
{% end %}

<!-- footer-area-start -->