{% extends "base.html" %} {% block title %}Home Page{% end %} {% block content %}

<main>

    <!-- breadcrumb-area-start -->
    <div class="breadcrumb-area pt-125 pb-125" style="background-image:url(assets/img/bg/04.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-wrapper">
                        <div class="breadcrumb-text">
                            <h2>shop grid</h2>
                        </div>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html">home</a></li>
                            <li><span>shop</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- product-area-start -->
    <div class="product-area pt-100 pb-100">
        <div class="container">
            <div class="row mb-20">

                <div class="product-02-tab mb-20">
                    <ul class="nav justify-content-start product-nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                <i class="fas fa-th-large"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-10 col-lg-10 col-md-10">
                    <div class="pro-tab1-content pt-15 mb-20">
                        <h3 style="text-align: right;">Scanning Devices</h3>
                    </div>
                </div>



            </div>
            <div class="product-tab-content">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/01.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/02.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>accessories</h5>
                                        <h4><a href="product-details.html">Medical Microscope</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/02.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/03.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="product-details.html">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/03.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/04.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>home accessories</h5>
                                        <h4><a href="product-details.html">Medical Thermometer</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/04.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/05.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>accessories</h5>
                                        <h4><a href="product-details.html">Lab N95 Face Mask</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/05.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/06.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>hand gloves</h5>
                                        <h4><a href="product-details.html">Covid -19 Hand Gloves</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/06.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/01.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>medical equipment</h5>
                                        <h4><a href="product-details.html">New Temperature Gun</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/07.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/06.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>Pressure meter</h5>
                                        <h4><a href="product-details.html">Inhaler Pressure Meter</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/08.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/07.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="product-details.html">Covid -19 Hand Sanitizer</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 cl-lg-4 col-md-6">
                                <div class="product-wrapper text-center mb-45">
                                    <div class="product-img pos-rel">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/09.jpg" alt="">
                                            <img class="secondary-img" src="assets/img/products/08.jpg" alt="">
                                        </a>
                                        <div class="product-action">

                                            <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h5>health & Medicine</h5>
                                        <h4><a href="product-details.html">Medicine & Health</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <div class="product mb-30">
                                    <div class="product-img">
                                        <a href="porduct-details.html"><img src="assets/img/products/01.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="product-list-content mb-30">
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="product-details.html">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                    <div class="product-action product-02-action">

                                        <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <div class="product mb-30">
                                    <div class="product-img">
                                        <a href="porduct-details.html"><img src="assets/img/products/02.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="product-list-content mb-30">
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="#">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                    <div class="product-action product-02-action">

                                        <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <div class="product mb-30">
                                    <div class="product-img">
                                        <a href="porduct-details.html"><img src="assets/img/products/03.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="product-list-content mb-30">
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="#">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                    <div class="product-action product-02-action">

                                        <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <div class="product mb-30">
                                    <div class="product-img">
                                        <a href="porduct-details.html"><img src="assets/img/products/04.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="product-list-content mb-30">
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="#">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                    <div class="product-action product-02-action">

                                        <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <div class="product mb-30">
                                    <div class="product-img">
                                        <a href="porduct-details.html"><img src="assets/img/products/05.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="product-list-content mb-30">
                                    <div class="product-text">
                                        <h5>hand sanitizer</h5>
                                        <h4><a href="#">Hand Sanitizer Covid -19</a></h4>
                                        <span>$250.99</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                    <div class="product-action product-02-action">

                                        <a class="c-btn" href="equireNow?product=">Enquire Now <i class="far fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- product-area-end -->

    <!-- brand-area-start -->

    <!-- brand-area-end -->

    <!-- instagram-area-start -->

    <!-- instagram-area-end -->

</main>


{% end %} {% block baseBlock %}
<script>
    //$(".active ").removeClass("active ");
    $("#pageHome ").addClass("active ");
</script>
{% end %}